{{!-- Content --}}
<div class="w-full h-auto flex justify-between">
    {{!-- Left Sidebar --}}
    <div>
        left sidebar
    </div>
    {{!-- Menu --}}
    <div class="grid grid-cols-2 mr-auto pl-[50px] pt-[20px] ">
        {{#each data as |item|}}
            {{> foodCard id=item._id name=item.name image=item.images price=item.price description=item.description ingredients=item.ingredients}}
        {{/each}}
    </div>
    {{!-- Right sideBar --}}
    <div class='flex flex-col justify-between w-[300px] h-[500px] border-collapse my-[20px] mr-[5px] bg-gray-100 drop-shadow-sm'>
        {{!-- Header --}}
        <div class='w-full bg-orange-400 rounded-t-md'>
            <p class="py-[10px] align-middle text-center font-bold">Ordering</p>
        </div>
        {{!-- Ordering Food --}}
        <div class="orderingFood mb-auto overflow-auto">
            {{!-- * JQuery will append data here  --}}
        </div>
        
        {{!-- Footer --}}
        <div class="text-center pb-[5px]">
            {{> button content='order' class='order inline-block uppercase'}}
        </div>
    </div>
</div>

{{> button class='payment' content='Payment'}}

<br>

{{>sideBar}}
