<div class="box">
    <div class="form">
        <h2>Sign in</h2>
        <div class="inputBox">
            <input email="text"
                pattern='/^(([^<>()[]\.,;:\s@"]+(.[^<>()[]\.,;:\s@"]+)*)|(".+"))@(([[0-9]{1,3}.[0-9]{1,3}.[0-9]{1,3}.[0-9]{1,3}])|(([a-zA-Z-0-9]+.)+[a-zA-Z]{2,}))$/'
                required="required">
            <span>Email</span>
            <i></i>
        </div>
        <div class="inputBox">
            <input type="password" required="required">
            <span>Password</span>
            <i></i>
        </div>
        <div class="links">
            <a href="#">Forgot Password</a>
            <a href="#">Signup</a>
        </div>
        <input type="submit" value="Login">
    </div>
</div>