<div class='flex justify-start items-center px-[10px] py-[10px] w-full'>
    <button id='minus'><i class='fa-solid fa-minus'></i></button>
    <span class='w-[50px] ml-[30px]' id='qty'>1</span>
    <span class=''>Pho</span>
    <span class='ml-auto'>45000</span>
    <button id='plus' class='ml-auto'><i class='fa-solid fa-plus'></i></button>
</div>