<div class='flex justify-between'>
    <button><i class='fa-solid fa-minus'></i></button>
    <input type='number' name='qty' id='qty' value='0' disabled class='w-[50px]' />
    <p class=''>Pho</p>
    <button><i class='fa-solid fa-plus'></i></button>
</div>