<div class="main">
    <div class="menu">
        <h2 id="mainMenu">Main Menu</h2>
        <div class="option">
            <i class="fa-solid fa-drumstick-bite"></i>
            <a href="#">Meats</a>
        </div>
        <div class="option">
            <i class="fa-solid fa-champagne-glasses"></i>
            <a href="#">Drinks</a>
        </div>
        <div class="option">
            <i class="fa-solid fa-seedling"></i>
            <a href="#">Vegetables</a>
        </div>
        <div class="option">
            <i class="fa-solid fa-heart"></i>
            <a href="#">Best seller</a>
        </div>
    </div>
</div>