<div class='tableCard' data-full="false">
    <div class='headerCard'>
        <h3 class='headerTitle'>Empty Table</h3>
        <div class="checkbox-wrapper-20">
            <div class="switch">
                <input id="one-20" class="input" type="checkbox" />
                <label for="one-20" class="slider"></label>
            </div>
        </div>
    </div>
    <div class='footerCard'>
        <h3 class='footerTitle'>{{increaseIndexByOne content}}</h3>
    </div>
</div>