<div class='tableCard' data-full="false">
    <div class='headerCard'>
        <h3 class='headerTitle'>Empty Table</h3>
        <div class='checkbox-wrapper-54'>
            <label class='switch'>
                <input type='checkbox' />
                <span class='slider'></span>
            </label>
        </div>
    </div>
    <div class='footerCard'>
        <h3 class='footerTitle'>{{sum content}}</h3>
    </div>
</div>