<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOA Mid Term</title>
    <link rel="shortcut icon" href="https://img.icons8.com/fluency/48/null/salami-pizza.png" type="image/x-icon">
    {{!-- * CSS link --}}
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/tailwind.css">

    {{!-- * JS link  --}}
    <script defer src="/Javascript/script.js" type="module"></script>

    {{!-- * JQuery link  --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    {{!-- * fontAwesome link --}}
    <script src="https://kit.fontawesome.com/e6f15c132f.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="app">
        {{>header}}

        {{{body}}}
        
        {{>footer}}
        <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
    </div>
</body>
</html>